@using Blazored.TextEditor
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime

@page "/"

<PageTitle>Home</PageTitle>

@* <button @onclick="GetEditorContent">Get HTML Content</button> *@

<!-- Notes -->
<div class="container mt-4">
    <div class="row g-3 justify-content-center">
        @foreach (var note in notes)
        {
            var index = notes.IndexOf(note);
            <div class="col-md-4">
                <div class="card note-card" style="cursor: pointer;"
                     @onclick="() => EditNote(index)" data-bs-toggle="modal" data-bs-target="#myModal">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-5">@note.Title</h5>
                        <p class="card-text mt-3">@note.Content</p>
                    </div>
                    <i class="fas fa-trash trash-icon no-toggle"
                       @onclick="() => DeleteNote(index)"
                       @onclick:stopPropagation="true"></i>
                </div>
            </div>
        }
    </div>
</div>


<!-- Create note button (+) -->
<button type="button" class="btn btn-primary btn-lg rounded-circle shadow position-fixed zoom-button"
        @onclick="ResetEditor" data-bs-toggle="modal" data-bs-target="#myModal"
        style="bottom: 20px; right: 20px; width: 60px; height: 60px;">+
    @* <i class="fas fa-plus fs-4"></i> *@
</button>

<!-- Background text and arrow when no notes are present -->
@if (!notes.Any())
{
    <div class="no-notes-overlay">
        <div class="text-arrow-container">
            <p class="no-notes-text">Create a note</p>
            <img src="images/arrow.png" class="arrow-image" alt="arrow" />
        </div>
    </div>
}

<p>@editorContent</p>

<!-- Popup Modal -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body p-0 d-flex flex-column">
                <!-- Editor -->
                <div class="editor-container flex-grow-1 d-flex flex-column">
                    <BlazoredTextEditor BottomToolbar="true" @ref="@richEditor"
                                        ToolbarCSSClass="rounded colored-border"
                                        ToolbarCssStyle="background: blackgrey; width: 100%">
                        <ToolbarContent>
                            <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                                <!-- Group 1 - Header and Text Formatting -->
                                <div class="toolbar-group">
                                    <select class="ql-header">
                                        <option selected=""></option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                    </select>
                                    <span class="ql-formats">
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-underline"></button>
                                        <button class="ql-strike"></button>
                                    </span>
                                </div>
                                <div class="separator"></div>
                                <!-- Group 2 - Text Color and Background -->
                                <div class="toolbar-group">
                                    <span class="ql-formats">
                                        <select class="ql-color"></select>
                                        <select class="ql-background"></select>
                                    </span>
                                </div>
                                <div class="separator"></div>
                                <!-- Group 3 - List Buttons -->
                                <div class="toolbar-group">
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                    </span>
                                </div>
                                <div class="separator"></div>
                                <!-- Group 4 - Link Button -->
                                <div class="toolbar-group">
                                    <span class="ql-formats">
                                        <button class="ql-link"></button>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-primary text-white btn-add-animation"
                                        @onclick="editingNoteIndex.HasValue ? SaveNote : AddNote"
                                        data-bs-dismiss="modal" style="padding: 0 10px; display: inline-block; width: auto; vertical-align: middle;">
                                    @(editingNoteIndex.HasValue ? "Save" : "Add")
                                </button>
                            </div>
                        </ToolbarContent>
                        <EditorContent>
                        </EditorContent>
                    </BlazoredTextEditor>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string noteTitle = string.Empty;
    private string noteContent = string.Empty;

    private List<Note> notes = new List<Note>();
    private int? editingNoteIndex = null;

    private class Note
    {
        public string Title { get; set; } = string.Empty;
        public string Content { get; set; } = string.Empty;
    }

    public class DeltaContent
    {
        public List<DeltaOp> ops { get; set; } = new List<DeltaOp>();
    }

    public class DeltaOp
    {
        public string insert { get; set; } = string.Empty;
        public Dictionary<string, object> attributes { get; set; } = new Dictionary<string, object>();
    }

    BlazoredTextEditor richEditor = default!;
    string? body = null;
    string defaultBody = "<h1><strong>Title</strong></h1><p><br></p><p>Content...</p>";
    string editorContent = "";

    /// <summary>
    /// Add a new note
    /// </summary>
    /// <returns></returns>
    private async Task AddNote()
    {
        // Extract the JSON content from the editor
        var contentJson = await richEditor.GetContent();

        // Deserialize the JSON content
        var content = JsonConvert.DeserializeObject<DeltaContent>(contentJson);

        // Initialize variables
        string noteTitle = "Untitled";
        string noteContent = string.Empty;

        // Check if the content is valid
        if (content != null && content.ops != null && content.ops.Count > 0)
        {
            // The title is the first insert before the first \n
            noteTitle = content.ops.FirstOrDefault()?.insert?.Trim() ?? "Untitled";

            // The content is everything after the first \n
            var contentOps = content.ops.Skip(1).Where(op => op.insert != null).Select(op => op.insert).ToList();
            noteContent = string.Join("", contentOps).Trim();
        }

        // Add the note
        notes.Add(new Note
            {
                Title = noteTitle,
                Content = noteContent
            });
    }

    /// <summary>
    /// Edit an existing note
    /// </summary>
    /// <param name="index"></param>
    /// <returns></returns>
    private async Task EditNote(int index)
    {
        var noteToEdit = notes[index];
        editingNoteIndex = index;
        body = $"<h1><strong>{noteToEdit.Title}</strong></h1><p><br></p><p>{noteToEdit.Content}</p>";
        await Task.Delay(50);
        await richEditor.LoadHTMLContent(body);
    }

    /// <summary>
    /// Save the note
    /// </summary>
    /// <returns></returns>
    private async Task SaveNote()
    {
        if (editingNoteIndex.HasValue)
        {
            // Obtenez le contenu édité
            var contentJson = await richEditor.GetContent();
            var content = JsonConvert.DeserializeObject<DeltaContent>(contentJson);

            // Récupérez les nouvelles données
            if (content != null && content.ops != null && content.ops.Count > 0)
            {
                var noteTitle = content.ops.FirstOrDefault()?.insert?.Trim() ?? "Untitled";
                var contentOps = content.ops.Skip(1).Where(op => op.insert != null).Select(op => op.insert).ToList();
                var noteContent = string.Join("", contentOps).Trim();

                // Mettez à jour la note
                notes[editingNoteIndex.Value] = new Note
                    {
                        Title = noteTitle,
                        Content = noteContent
                    };
            }
        }
        // Réinitialisez l'état
        editingNoteIndex = null;
        body = "";
    }

    /// <summary>
    /// Delete a note
    /// </summary>
    /// <param name="index"></param>
    /// <returns></returns>
    private async Task DeleteNote(int index)
    {
        await EditNote(index);
        notes.RemoveAt(index);
        await Task.Delay(500);
        await JSRuntime.InvokeVoidAsync("closeModal");
    }

    /// <summary>
    /// Reset the editor
    /// </summary>
    private void ResetEditor()
    {
        richEditor.LoadHTMLContent(defaultBody);
        editingNoteIndex = null;
    }

    /// <summary>
    /// Get the content from the editor in HTML format
    /// </summary>
    /// <returns></returns>
    private async Task GetEditorContent()
    {
        editorContent = await richEditor.GetHTML();
    }
}
